$background: #18191a;
$primary-color: #242526;
$secondary-color: #3a3b3c;
$tertiary-color: #b0b3b8;


.login {
    background: $background;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    &-wrapper {
        display: flex;
        width: 60vw;
        justify-content: space-between;
        
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                font-size: 4rem;
                color:rgb(57, 136, 255);
                font-weight: bold;
            }
            p{
                color: #b0b3b8;
                font-size: 1.5rem;
            }

        }

        &-right {
            background: #242526;
            width: 50%;
            padding: 1rem;
            border-radius: 1rem;
            display: flex;

            input {
                margin: 1rem 0;
                border-radius: 1rem;
                padding: 1rem;
                border: none;
                outline: none;
                background: #3a3b3c;
                color: #b0b3b8 ;
            }

            button {
                margin: 1rem 0;
                border-radius: .5rem;
                padding: 1rem;
                color: #fff;
                font-weight: 700;
                cursor: pointer;
                background: rgb(57, 136, 255);
                font-size: 1rem;
                border: none;
                &:disabled{
                    cursor: not-allowed;
                    background: rgb(85, 134, 206);
                }

                &.btn {
                    width: 60%;
                    background: #259425;
                    align-self: center;
                }

            }

            a {
                text-align: center;
                color: rgb(57, 136, 255);
                text-decoration: none;
            }

            flex-direction: column;

        }
    }


}